.text-block {
    // padding: 20px 0px;
}

p, li {
    font-size: 14px !important;
}
.board-members {
    span {
        font-weight: 600;
        font-size: 14px;
    }
    p {
        font-size: 13px;
    }
}
