@import './scss/bootstrap/bootstrap.scss';
@import './scss/normalize.scss';
@import './scss/navbar.scss';
@import './scss/images.scss';
@import './scss/typography.scss';
@import './scss/footer.scss';
@import './scss/list.scss';


body, html{
    height: 100vh;
    // background-color: lightblue;
    // text-align: left;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #696969;
    text-align: left;
    // background-color: $gray-200;
}

.bg-beige {
    background-color: bisque;
}

.bg-blue {
    width: 100%;
    background-color: #00A3AD;
    color: white;
}

.bg-lightgrey {
    background-color: #F8F8F8;
}

.flex-center {
    display: flex;
    align-items: center;

}
